.links {
  margin-left: 40px;

  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.4s ease, opacity 0.25s ease;
  opacity: 0;
}

.links > div {
  overflow: hidden;
}

/* when open */
.links.open {
  grid-template-rows: 1fr;
  opacity: 1;
  fill: #0000ff;
}

.section-title {
  transition: opacity 0.2s ease;
}

.section-title:hover {
  opacity: 0.6;
}
