h1 {
  font-size: 36px;
  cursor: pointer;
}

.section-title {
  font-size: 36px;
  cursor: pointer;
}

.links p {
  font-size: 18px;
  line-height: 1.6;
  color: #000;
  margin: 0;
  max-width: 600px;
  display: grid;
  grid-template-rows: 0fr;
  opacity: 0;

  transition: grid-template-rows 0.4s ease, opacity 0.25s ease;
}

.links.p.open {
  grid-template-rows: 1fr;
  opacity: 1;
}

.links p.mail {
  font-size: 56px;
  line-height: 1.6;
  color: #000;
  margin: 0;
  max-width: 600px;
  display: grid;
  grid-template-rows: 0fr;
  opacity: 0;

  transition: grid-template-rows 0.4s ease, opacity 0.25s ease;
}

.links.p.mail.open {
  grid-template-rows: 1fr;
  opacity: 1;
}

.links {
  cursor: pointer;
  display: grid;
  grid-template-rows: 0fr;
  opacity: 0;

  transition: grid-template-rows 0.4s ease, opacity 0.25s ease;
}

.links > div {
  overflow: hidden;
}

.links.open {
  grid-template-rows: 1fr;
  opacity: 1;
}

.links a {
  display: block;
  font-size: 18px;
  color: #0000ff;
  text-decoration: none;

  margin-bottom: 8px;
  line-height: 1;
}

.links a:hover {
  text-decoration: underline;
}
